<div><nb-actions size="small">
  <nb-action nbTooltip="Buscar" icon="search-outline" (click)="search()"></nb-action>
  <nb-action nbTooltip="Editar" icon="edit-outline"></nb-action>
  <nb-action nbTooltip="Añadir" icon="plus-outline" [routerLink]="['/addbanco']"></nb-action>
</nb-actions>
  <label class="search-label" for="search" *ngIf="show">Buscar <input nbInput [nbFilterInput]="dataSourcea" id="search" class="search-input"></label>
</div>
<nb-card-body>
  <table [nbTreeGrid]="dataSourcea" [nbSort]="dataSourcea" (sort)="updateSort($event)" class="mx-3">

    <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumnas"></tr>
    <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: allColumnas"></tr>

    <ng-container [nbTreeGridColumnDef]="customColumna">
      <th nbTreeGridHeaderCell [nbSortHeader]="getSortDirection(customColumna)" *nbTreeGridHeaderCellDef>
        {{customColumna}}
      </th>
      <td nbTreeGridCell *nbTreeGridCellDef="let row">
        {{row.data[customColumna]}}
      </td>
    </ng-container>

    <ng-container *ngFor="let column of defaultColumnas; let index = index"
                  [nbTreeGridColumnDef]="column"
                  [showOn]="getShowOn(index)">
      <th nbTreeGridHeaderCell [nbSortHeader]="getSortDirection(column)" *nbTreeGridHeaderCellDef>
        {{column}}
      </th>
      <td nbTreeGridCell *nbTreeGridCellDef="let row">{{row.data[column] || ''}}</td>
    </ng-container>

    <ng-container [nbTreeGridColumnDef]="lastColumna">
      <th nbTreeGridHeaderCell [nbSortHeader]="getSortDirection(lastColumna)" *nbTreeGridHeaderCellDef>
        {{lastColumna}}
      </th>
      <td nbTreeGridCell *nbTreeGridCellDef="let row">
        <button nbButton status="primary" hero size="small" style="margin-right: 1px; margin-bottom: 1px;"
              (click)="eliminarDato(row)" nbTooltip="Editar dato" nbTooltipPlacement="top" nbTooltipStatus="primary">
              <nb-icon icon="edit-outline"></nb-icon>
        </button>
        <button nbButton status="danger" hero size="small"
              (click)="eliminarDato(row)" nbTooltip="Eliminar dato" nbTooltipPlacement="top" nbTooltipStatus="danger">
              <nb-icon icon="trash-2"></nb-icon>
        </button>
      </td>
    </ng-container>

  </table>
</nb-card-body>
