<nb-layout>
  <nb-layout-header fixed>
    <h1 class="mx-auto mt-3 tracking-in-expand">AdminStax</h1>
  </nb-layout-header>

  <nb-layout-header subheader>
    <nb-layout-column left>
      <nb-actions fullWidth size="medium">
        <nb-action nbTooltip="Inicio" icon="home-outline" [routerLink]="['/']"></nb-action>
        <nb-action nbTooltip="Banco" icon="briefcase-outline" [routerLink]="['/banco'] "></nb-action>
        <nb-action nbTooltip="Almacen" icon="archive-outline" [routerLink]="['/almacen']"></nb-action>
      </nb-actions>
    </nb-layout-column>
  </nb-layout-header>
<!--
  <nb-sidebar state="compacted" class="control-panel">
    <h5 id='active-account'>Apps</h5>
    <button
        nbButton ghost status="control" size="medium"
        nbTooltip="Aplicación de Banco" nbTooltipPlacement="top" nbTooltipStatus="primary"
        [routerLink]="['/']"
      ><nb-icon icon="home-outline"></nb-icon></button>
    <nb-menu [items]="items"></nb-menu>
    <div class="control-panel">
      <button
        nbButton ghost status="success" size="medium"
        nbTooltip="Aplicación de Banco" nbTooltipPlacement="top" nbTooltipStatus="primary"
        [routerLink]="['/banco']"
      ><nb-icon icon="briefcase-outline"></nb-icon></button>
      <br><br>
      <button
        nbButton ghost status="basic" size="medium"
        nbTooltip="Aplicación de Almacen" nbTooltipPlacement="top" nbTooltipStatus="primary"
        [routerLink]="['/almacen']"
      ><nb-icon icon="archive-outline"></nb-icon></button>
    </div>
  </nb-sidebar>
-->
  <nb-layout-column class="colored-column-basic">
     <nb-card>
       <router-outlet></router-outlet>
      </nb-card>
  </nb-layout-column>
</nb-layout>
